* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}
h1 {
    position: absolute;
    top: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(75, 181, 146);
    text-shadow: 0 2px 5px rgb(119, 31, 153);

}
.stopwatch {
    margin-top: 100px;
    position: absolute;
    top: 100px;
    /* background: rgba(0, 0, 0, 0.7); */
    color: white;
    /* padding: 20px 25px; */
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(12, 11, 11);
}

.timerDisplay {
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: -50px;
    margin: 10px 30px;
}

.buttons {
    position: absolute;
    bottom: 50px;

}

.btn {
    height: 35px;
    width: 80px;
    margin: 0 22px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    box-shadow: 0 0 5px rgb(28, 28, 28);
    cursor: pointer;
}


@media (max-width : 450px) {

    h1 {
        font-size: 35px;
    }

    .stopwatch {
        margin-top: 250px;
    }
    .timerDisplay {
        font-size: 55px;
        word-spacing: 0.2px;

    }

    .buttons {
        margin-bottom: 100px;

    }

    .btn {
        margin: 0 10px;
    }
}
